<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {% if users %}
      <table border="2">
        <tr>
          <th> nickname</th>
          <th> key</th>
          <th> XML </th>
        <tr>
    {% endif %}
    {% for user in users %}
        <tr>
          <td>{{ user.nickname }}</td>
          <td>{{ user.key }}</td>
          <td>{{ user.to_xml }}</td>
        </tr>
    {% endfor %}
    {% if users %}
      </table>
    {% endif %}
    <a href="/">Voltar</a>
  </body>
</html>
